<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>rssagregator.servlet.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>rssagregator.servlet.StartServlet</listener-class>
    </listener>
    
    
    
    <security-constraint>
        
        <web-resource-collection>
            <web-resource-name>Ressource</web-resource-name>
            <url-pattern>/flux/*/*</url-pattern>
            
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>manager-script</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Your Realm Name</realm-name>
    </login-config>
    <security-role>
        <description>Description</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>Description</description>
        <role-name>manager-script</role-name>
    </security-role>
    <security-role>
        <description>Description</description>
        <role-name>admin</role-name>
    </security-role>
    
    
    
    <!--Le filtre permettant de forcer l'identification-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>rssagregator.servlet.FilterIdent</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <!--Le filtre permettant de restreindre l'accès aux servlet permettant de modifier les entités (flux, journaux etc). Les action de moficication sont restreintes.-->
    <filter>
        <filter-name>RestrictionFilter</filter-name>
        <filter-class>rssagregator.servlet.FilterBasicBeans</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictionFilter</filter-name>
        <url-pattern>/flux/*</url-pattern>
        <url-pattern>/TypeFluxSrvl/*</url-pattern>
        <url-pattern>/journaux/*</url-pattern>
        <url-pattern>/incidents/*</url-pattern>
        <url-pattern>/ComportementCollecte/*</url-pattern>
        <!--<url-pattern>/user/*</url-pattern>-->
    </filter-mapping>
    
    
    <!--Filtre permettant de restreindre l'acces uniquement aux administrateurs-->
    <filter>
        <filter-name>RestrictionAdmin</filter-name>
        <filter-class>rssagregator.servlet.FilterAdminOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictionAdmin</filter-name>
        <url-pattern>/config/*</url-pattern>
        <!--<url-pattern>/user/*</url-pattern>-->
    </filter-mapping>
    
    <filter>
        <filter-name>UserBeanRestrict</filter-name>
        <filter-class>rssagregator.servlet.FilterUserBean</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserBeanRestrict</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    
    

</web-app>
